* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pacifico-R';
    src: url(webfonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: 'Righteous-R';
    src: url(webfonts/Righteous-Regular.ttf);
}

@font-face {
    font-family: 'PTSansCaption-R';
    src: url(webfonts/PTSansCaption-Regular.ttf);
}

@font-face {
    font-family: 'PTSansCaption-B';
    src: url(webfonts/PTSansCaption-Bold.ttf);
}

@font-face {
    font-family: 'BreeSerif-R';
    src: url(webfonts/BreeSerif-Regular.ttf);
}

:root {
    /* ^^^^^^^^^^COLORs^^^^^^^^^^ */
    --bg-main: #000;
    --big-title: #fdfdfd;
    --font-color: #fdfdfd;
    --form-color: #272727;
    --btn-color: #16FF00;
    --btn1-color: #02b638;
    --hover-bg-color: #d1512d;
    --btn-visit: #E59934;
    --btn-delete: #d30820;
    --btn-update: #0816d3;
    --secondry1-color: #000;
    --secondry2-color: #fff;
    --secondry3-color: #c7c7c7;
    /* ^^^^^^^^^^FONTs^^^^^^^^^^ */
    --Pacifico-R: "Pacifico-R";
    --Righteous-R: "Righteous-R";
    --PTSansCaption-R: "PTSansCaption-R";
    --PTSansCaption-B: "PTSansCaption-B";
    --BreeSerif-R: "BreeSerif-R";
    /* ^^^^^^^^^^OTHERs^^^^^^^^^^ */
    --input-color: rgba(145, 241, 20, 5);
    --box-shadow: 0px 0px 9px 0.5px var(--big-title);
    --trunsition-S: 0.5s all;
}

::selection {
    color: var(--bg-main);
    background-color: var(--btn-color);
}

#body {
    background-color: var(--bg-main);
}

main {
    background-color: var(--bg-main);
}

#H1 {
    color: var(--big-title);
    font-size: 50px;
    font-family: var(--Pacifico-R);
    z-index: 11;
    overflow: hidden;
}

#H1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom, var(--btn-delete), var(--btn-color));
    border-radius: 10px;
    transform: translateY(70%);
    transition: all 0.8s;
}

#layer-h1:hover #H1::before {
    transform: translateY(10%);
}

.secondary-div {
    border: 2px dotted var(--form-color);
    border-inline: var(--bg-main);
}

#secondary-div h2 {
    font-size: 25px;
    font-family: var(--Righteous-R);
    background-image: linear-gradient(to right, var(--btn-delete), var(--btn-color));
    background-clip: text;
    color: transparent;
}

section .form-control:focus {
    box-shadow: 0 0 1rem var(--input-color);
    border-color: var(--btn-color);
    background-color: var(--form-color);
    color: var(--font-color);
}

section .form-control::placeholder {
    color: #fff5;
}

section .form-control {
    background-color: var(--form-color);
    color: var(--font-color);
}

section label {
    font-family: var(--PTSansCaption-B);
    color: var(--font-color);
}

#addBtn {
    background: var(--btn-color);
    font-family: var(--PTSansCaption-B);
    transition: var(--trunsition-S);
}

#addBtn:hover {
    font-family: var(--PTSansCaption-B);
    box-shadow: var(--box-shadow);
}

#updateBtn {
    background: var(--btn-update);
    font-family: var(--PTSansCaption-B);
    transition: var(--trunsition-S);
}

#updateBtn:hover {
    font-family: var(--PTSansCaption-B);
    box-shadow: var(--box-shadow);
}

#table {
    background-color: var(--form-color);
}

#table .btn-visit {
    background-color: var(--btn-visit);
    font-family: var(--PTSansCaption-B);
    transition: var(--trunsition-S);
}

#table .btn-visit:hover {
    box-shadow: var(--box-shadow);
}

#table .btn-delete {
    background-color: var(--btn-delete);
    font-family: var(--PTSansCaption-B);
    transition: var(--trunsition-S);
}


#table .btn-delete:hover {
    box-shadow: var(--box-shadow);
}

#table .btn-update {
    background-color: var(--btn-update);
    font-family: var(--PTSansCaption-B);
    transition: var(--trunsition-S);
}

#table .btn-update:hover {
    font-family: var(--PTSansCaption-B);
    box-shadow: var(--box-shadow);
}

thead {
    color: var(--font-color);
}

.tr-table {
    color: var(--font-color);
    border: 1px solid var(--secondry3-color);
    border-inline: var(--secondry2-color);
    border-bottom: var(--secondry2-color);
    font-family: var(--PTSansCaption-B);
}

.circles span {
    display: block;
    width: 20px;
    height: 20px;
}

.circles span:nth-child(1) {
    background-color: var(--btn-delete);
}

.circles span:nth-child(2) {
    background-color: var(--btn-visit);
}

.circles span:nth-child(3) {
    background-color: var(--btn1-color);
}

.pra-model {
    font-family: var(--BreeSerif-R);
}

.li-model {
    font-size: 18px;
    font-family: var(--PTSansCaption-R);
    font-weight: 300;
}

.li-model i {
    color: var(--btn-delete);
}

@media (max-width:640px) {
    #secondary-div h2 {
        font-size: 18px;
    }

    #table .btn-update {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    #table .btn-visit {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    #table .btn-delete {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
}